@{ 
    ViewData["Title"] = "Админка";
}

<!-- /. ROW  -->
<hr />
<div class="row">
    <div class="col-lg-12 ">
        <div class="alert alert-info">
            <strong>Welcome Alex Gusev ! </strong> You Have No pending Task For Today.
        </div>
    </div>
</div>
<!-- /. ROW  -->
<div class="row text-center pad-top">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-circle-o-notch fa-5x"></i>
                <h4>Проверка данных</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-envelope-o fa-5x"></i>
                <h4>Почта</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-lightbulb-o fa-5x"></i>
                <h4>Обновления</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-users fa-5x"></i>
                <h4>Список пользователей</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-key fa-5x"></i>
                <h4>Администрирование</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-comments-o fa-5x"></i>
                <h4>Поддержка</h4>
            </a>
        </div>
    </div>
</div>
<!-- /. ROW  -->
<div class="row text-center pad-top">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-clipboard fa-5x"></i>
                <h4>Документация</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-gear fa-5x"></i>
                <h4>Настройки</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-wechat fa-5x"></i>
                <h4>Чат</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-bell-o fa-5x"></i>
                <h4>Уведомления </h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-rocket fa-5x"></i>
                <h4>Загрузка</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-user fa-5x"></i>
                <h4>Регистрация пользователя</h4>
            </a>
        </div>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12 ">
        <br />
        <div class="alert alert-danger">
            <strong>Want More Icons Free ? </strong> Checkout fontawesome website and use any icon <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/">Click Here</a>.
        </div>

    </div>
</div>
<!-- /. ROW  -->