@model IEnumerable<WebStoreGusev.Models.EmployeeViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1>Hello from my first view</h1>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>@item.Patronymic</td>
            <td>
                @*html-helper*@
                @*@Html.ActionLink("Детали", "Details", new { id = item.Id })*@
                @*tag-helper*@
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
            </td>
        </tr>
    }
</table>